jax==0.4.18
jaxlib==0.4.18
keras==2.14.0
keras-core==0.1.7
keras-cv==0.6.4
keras-nlp==0.6.2
kerascv==0.0.40
matplotlib==3.8.0
matplotlib-inline==0.1.6
numpy==1.24.2
pandas==2.0.3
Pillow==10.2.0
seaborn==0.13.0
tensorflow==2.14.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.14.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.14.0
tensorflow-metadata==1.14.0
tensorflow-text @ file:///Users/jessechan/Desktop/coding/guides/tensorflow_text-2.14.0-cp310-cp310-macosx_11_0_arm64.whl
torch==2.1.0
tqdm==4.66.1
